<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Ma bibliothèque{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    {% endblock %}
</head>
<body>

    <header class="p-3 bg-dark text-white">
        <a href="{{ path('main_home') }}"><h1>Ma biblotheque</h1></a>

       {{ include('inc/nav.html.twig') }}



    </header>

<main>

    {% block body %} {% endblock %}

</main>

<footer class = "footer">
    <div>{{ "now"|date("Y") }}MaBibliothèque</div>
</footer>




</body>
</html>